В переменной df находится датафрэйм. Запишите в переменную  df_shape строку с информацией о том, сколько строк и столбцов он содержит, в следующем виде: <br>
'df has y rows and x columns' <br>
где y — число строк, а x — число колонок.

In [2]:
# df_shape = f'df has {df.shape[0]} rows and {df.shape[1]} columns'

Сохраните в переменную na_number серию, в которой для каждой колонки будет указано, сколько пропущенных значений она содержит. <br>
Note: датафрейм уже лежит в переменной df

In [3]:
# na_number = df.isna().sum()

Сохраните в переменную df_types типы данных каждой колонки датафрэйма df.

In [4]:
# df_types = df.dtypes

Внезапно оказалось, что в колонке age значения хранятся в виде строк! Поменяйте тип значений на целочисленный в этой колонке датафрэйма df.

In [5]:
# df = df.astype({'age':'int'})

Как выяснилось, для дальнейшего анализа нам не понадобятся колонки sex и age – удалите их из датафрэйма.

In [6]:
# df = df.drop(columns=['sex', 'age'])

In [ ]:
А теперь проверим, есть ли в нашей таблице df дубликаты по полю client_id. Сохраните в переменную df датафрейм, в котором не будет дубликатов по колонке client_id, оставив первую строку с id

In [7]:
# df = df.drop_duplicates(subset='client_id')

В списке numbers содержатся числа. Добавьте через цикл в список positive_numbers положительные числа из numbers. Если вам попался 0, то нужно прекратить этот цикл.

In [9]:
numbers = [1, -2, 3, 0, -3, 2]

positive_numbers = []
for n in numbers:
    if n == 0:
        break
    if n >= 1:
        positive_numbers.append(n)
positive_numbers

[1, 3]

Ссылка на датасет находится в переменной path_to_file. Сохраните данные в переменную taxi, разделитель — ;.

Затем приведите столбцы start_at, end_at, arrived_at к формату даты, используя pd.to_datetime(). Отфильтруйте данные и оставьте наблюдения со статусом заказа "asap" и "reserved" (start_type) .

In [10]:
# import pandas as pd

# taxi = pd.read_csv(path_to_file, sep=";")

# taxi['start_at'] = pd.to_datetime(taxi['start_at'])
# taxi['end_at'] = pd.to_datetime(taxi['end_at'])
# taxi['arrived_at'] = pd.to_datetime(taxi['arrived_at'])

# taxi = taxi.query('start_type == "asap" or start_type == "reserved"')

Создайте колонку wait_time, в которой будет храниться разница между временем подачи машины (arrived_at) и временем заказа (start_at) в минутах.

Данные загружены в taxi и отфильтрованы.

In [12]:
# taxi['wait_time'] = taxi['arrived_at'] - taxi['start_at']
# taxi['wait_time'] = taxi.wait_time.astype('timedelta64[m]')

Добавьте столбец month, где будет храниться номер месяца, в котором был сделан заказ (start_at),  и столбец weekday – название дня недели.

Данные загружены в taxi и отфильтрованы

In [13]:
# taxi['month'] = taxi['start_at'].dt.strftime('%m')
# taxi = taxi.astype({'month':'int'})
# taxi['weekday'] = taxi.start_at.dt.strftime('%A')