Начнём с простого: сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name – какое-нибудь имя в виде строки.

In [1]:
age = 20
name = 'Alex'

Создайте список user_info, содержащий 4 элемента в следующем порядке: <br>
2 строки (имя и фамилия пользователя)<br>
1 дробное число (зарплата)<br>
1 целое число (стаж)<br>

In [3]:
user_info = ['Alex', 'Smith', 14.500, 1]

Поместите в переменную first первый (т.е. нулевой) элемент из списка salaries.

In [4]:
salaries = [1, 2]
first    = salaries[0]

Добавьте в уже созданный список users элементы 'Voronov' и 42.

In [5]:
users = []
users.append('Voronov')
users.append(42)

В переменной user_ages содержится список возрастов клиентов. Напишите цикл, выводящий на печать элементы больше 18.

In [6]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

for age in user_ages:
    if age > 18:
        print(age)

21
35
42
27

Напишите программу, проверяющую стаж работы сотрудника. В переменной worker уже содержится список, содержащий значения как во 2-м задании (имя, фамилия, зарплата, стаж). Поместите в переменную status следующую строку: <br>
user_name user_family is position <br>
где user_name и user_family — имя и фамилия сотрудника, а position — одно из следующих значений: <br>
'junior' — стаж меньше 2 лет <br>
'middle' — стаж больше либо равен 2 лет <br>
'senior' — стаж больше 5 лет <br>

In [7]:
worker = ['Olya', 'Silyutina', 350000, 3]

if worker[3] < 2:
    position = 'junior'
elif worker[3] >= 2 and worker[3] < 5:
    position = 'middle'
else:
    position = 'senior'

status = f'{worker[0]} {worker[1]} is {position}'

В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело.

In [8]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
tens = [x for x in values if x%10==0]

Реализуйте цикл, который пробегается по уже созданному списку workers со значениями как в 2-м и 6-м заданиях и выводит для каждого сотрудника следующую строку (то есть печатает её для каждого элемента списка): <br>
user_name user_family is position <br>
где user_name и user_family — имя и фамилия сотрудника, а position — одна из следующих строк: <br>
'junior' — стаж меньше 2 лет <br>
'middle' — стаж больше либо равен 2 <br>
'senior' — стаж строго больше 5 лет <br>

In [10]:
workers = [['Ivan', 'Ivanov', 100000, 2],
           ['Petr', 'Petrov', 150000, 2],
           ['Sidor', 'Sidorov', 200000, 3]]

for worker in workers:
    if worker[3] < 2:
        position = 'junior'
    elif worker[3] >= 2 and worker[3] < 5:
        position = 'middle'
    else:
        position = 'senior'

    print(f'{worker[0]} {worker[1]} is {position}')

Ivan Ivanov is middle
Petr Petrov is middle
Sidor Sidorov is middle

Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while.

In [11]:
n = 0; N = 10; dn = 2; lst =[];
while n<=N:
    lst.append(n)
    n += dn